.btn {
    padding: 10px;
    font-size:14px;
    outline: none;
    border:none;
    border-radius: 12px;
    background-color: $goldColor;  
    cursor: pointer;
    font-weight: 500;

}
.btn-login,.btn-signup{
    @include box-shadow-effect;
}

