@import "./variables";
.header-section {
  z-index: 990;
  position: sticky;
  top:0;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blueSiteColor;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .header-brand {
    .brand-link{
      color: $goldColor;
      text-decoration: none;
    }
   
    .mobile-cart-icon{
      display: none;
    }
    .mobile-hamburger-icon{
      display: none;
    }
  }

  .header-search {
    .search-box-form {
      padding: 4px;
      // border: 1px solid black;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      border-radius: 12px;
      .search-box {
        padding: 10px;
        border: none;
        outline: none;
      }
    }
  }
  .header-user-links {
    .header-user-greetings {
      margin:16px 0;
      .welcome-greeting {
        color: white;
        font-weight: 500;
        .greeting-user-name {
          color: $goldColor;
          font-weight: bold;
          margin: 0 12px;
        }
      }
    }
    .btn-links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 18px;
      .header-cart {
        .cart-icon {
          font-size: 36px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-section {
    flex-direction: column;
    justify-content: space-around;

    .header-brand{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top:12px;
        .mobile-hamburger-icon{
          color: $goldColor;
            display: block;
            padding-left: 12px;
            font-size:30px;
        }
        .mobile-cart-icon{
            display: block;
            padding-right:12px;
            font-size:30px;
          
           .cart-link{
            color: $goldColor;
           }
        }
    }
    .header-user-links {
      display: none;
    }
    .header-search {
      position: relative;
      width: 100%;
      padding: 10px 16px;
      .search-box-form {
        .search-box {
          width: 100%;
        }
        .btn-search {
          position: absolute;
          right: 20px;
        }
      }
    }
  }
}
