.web-navigation-bar{
    position: fixed;
    width: 100%;
    .nav-categories{
        border-top: 1px solid $navySiteColor;
        display: flex;
        justify-content: space-around;
        background-color: $blueSiteColor;
        .nav-cat-item{
            list-style: none;
            padding: 12px;
            color: white;
            font-weight: 500;
            &:hover{
                background-color: $goldColor;
                color:$blueSiteColor;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .web-navigation-bar{
        display: none;
    }
}