.ud-container {
    padding: 16px;
    display: flex;
    gap: 24px;
   
  .ud-control-menu{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 24px;
    

    .ud-greeting{
        display: flex;
        min-width: 300px;
        align-items: center;
        gap: 12px;
        background-color:$blueSiteColor;
        padding: 12px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: $goldColor;
        font-weight:400;

        .ud-user-icon{
            img{
                width: 60px;
                height: 60px;
            }
        }
        
    }
    .ud-control-menu-items {
        padding: 12px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
  }

  .ud-control-frame{
    padding: 24px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-basis: 100%;
  }
}